.container-body{
    background: #fffffe;

}

.fila{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid  #181818;
    border-radius: 4px;
    align-items: center;
    background: #bae8e8;
    box-shadow: -1px -2px 3px #181818 inset, -1px -2px 13px #186817 inset;
    color: #181818;

}
.fila-superior{
    margin-top: 0px;
    padding: 5px;
    align-items: center;
    background: transparent;
    background: #ffd803;
    border: 2px solid #181818;
    border-radius: 12px;

}
.boton-fila{

    margin-top: 5px;
    padding: 5px;
    align-items: center;
    background:#fffffe;

}

.imagenes{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    background-color: #fffffe;
    box-shadow: 0px 0px 5px black,  0px 0px 5px black;

    /* -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); */
}
.items{

    background: #fffffe;
    border: 1px solid #181818;
    box-shadow: 1px 2px 2px  #02082652;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.items-superior{
    font-family: Arial, Helvetica, sans-serif;
    background: #e3f6f5;
    color: #181818;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color: #181818;
    padding: 5px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 1px 1px 0px black ;

    
}
.boton{
    box-shadow: 0px 0px 5px #181811;
    border-radius: 999px;
    padding: 2px;
    width: 50px;
    margin-bottom: 5px ;
    transition: all 300ms ;
}
.boton:hover{
    background:#50c4cf;
    box-shadow:0px 0px 5px#181811;
    color: black ; 
    cursor: pointer;
    transform: translate(2px , -2px );
    
}
.boton:active{
    background:#50c4cf ;
    box-shadow:0px 0px 10px #fffffe inset ;
    border: 2px solid #ffd803;
    
}
.boton::after{
    background:#50c4cf ;
    box-shadow:0px 0px 10px #fffffe inset ;
    border: 2px solid #ffd803;
}
.spin{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    margin-left: 50%;
}

.video{
    width: 100%;
    object-fit: none;
    height: 400px;
    border-bottom: 1px solid #181818;
    border-top: 2px solid #181818;
    box-shadow: 0px 0px 5px #181818;
}

.titulo{
    position: absolute;
    background: transparent;
    border-left: 2px solid #181811;
    border-right: 2px solid #181811;
    border-top: 0px ;
    border-right: 0px solid #181811;
    padding: 30px;
    left: 20%;
    top:20%;
    border-radius: 999px;
    box-shadow: 3px 5px 10px black;
}
.titulo h1{
    font-size: 70px;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    font-weight: bold;
    -webkit-text-stroke: 2px black ;
}
.titulo h3{
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
}
.foot{

    background: #181811;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    text-shadow: 0px 0px 10px black;
    padding: 20px;
    margin-top: 10px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
}
.rojo{
    color: red !important;
    font-weight: bold;
}
.verde{
    color: green !important;
    font-weight: bold;
}
.info{
    display: flex;
    justify-content: flex-start;
}
.infobtn{
    width: 100%;
    height: 50px;
    bottom: 10px;
    position: absolute;
    background-color: transparent;
    
}
.infobtn:hover{
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}
.grafico{

}

@media(max-width: 1079px){
    .titulo{
        position: absolute;

        padding: 20px;
        left: 15%;
        top:20%;

    }
    .titulo h1{
        font-size: 60px;

    }
    
}
@media(max-width: 815px){
    .titulo{
        position: absolute;
        padding: 20px;
        left: 20%;
        top:30%;
    }
    .titulo h1{
        font-size: 40px;
    }
}
@media(max-width: 600px){
    .titulo{
        position: absolute;
        padding: 30px;
        margin-left: 0%;
        margin-right: 15%;
        top:20%;
        display: flex;
        text-align: center;
    }
    .titulo h1{
        font-size: 30px;
    }
    .titulo h3{
        font-size: 20px;
    }
    .items-superior{

        padding: 0px;
        font-weight: bold;
        margin-left: 0px;
        font-size: 12px;
        
    }
}
@media(max-width: 400px){
    .titulo{
        position: absolute;
        padding: 25px;
        margin-left: 0%;
        margin-right: 5%;
        top:30%;
    }
    .titulo h1{
        font-size: 20px;
        -webkit-text-stroke: 0px;
    }
    .titulo h3{
        font-size: 10px;
    }
}